.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home header {
  margin: 50px;
  font-size: 3rem;
}

.hero-carousel {
  display: flex;
  overflow-x: scroll;
  max-width: 80%;
}

.product-card {
  min-width: 400px;
}