.navbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 65px;
  box-shadow: 0px 1px 10px #999;
  background-color: #464444;
  color: rgb(134, 133, 133);
  font-size: 1.1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: unset;
}

.nav-item {
  list-style: none;
}

.nav-item-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.nav-item-wrapper:hover .dropdown-arrow {
  transform: rotateX(180deg);
}

.dropdown {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-one {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.dropdown-arrow {
  margin-left: 6px;
  transition: transform .2s ease;
}

.dropdown:hover .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-wrapper-one {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  height: 0;
  width: 150px;
  background-color: #464444;
  color: rgb(134, 133, 133);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  transition: height .2s ease;
}

.dropdown-one:hover .dropdown-wrapper-one {
  height: 130px;
}

.dropdown-wrapper-one .nav-item {
  text-align: center;
  width: 100%;
  padding: .5rem 0;
  transition: background-color .2s ease;
}

.dropdown-wrapper-one .nav-item:hover {
  background-color: rgb(56, 56, 56);
}

.dropdown-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 65px;
  height: 0;
  width: 150px;
  background-color: #464444;
  color: rgb(134, 133, 133);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
  transition: height .2s ease;
}

.nav-item .nav-link {
  display: block;
  width: 100%;
}

.dropdown:hover .dropdown-wrapper {
  height: 85px;
}

.dropdown-wrapper .nav-item {
  text-align: center;
  width: 100%;
  padding: .5rem 0;
  transition: background-color .2s ease;
}

.dropdown-wrapper .nav-item:hover {
  background-color: rgb(56, 56, 56);
}

.sub-dropdown {
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sub-dropdown-arrow {
  position: absolute;
  right: 15px;
  pointer-events: none;
  transition: transform .2s ease;
}

.sub-dropdown:hover .sub-dropdown-arrow {
  transform: rotateY(180deg);
}

.sub-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 150px;
  top: 0;
  height: 100px;
  width: 0;
  background-color: #464444;
  color: rgb(134, 133, 133);
  overflow: hidden;
  transition: width .2s ease;
}

.sub-dropdown:hover .sub-dropdown-wrapper {
  width: 150px;
}

.with-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 100%;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  height: 100%;
}

.cart svg {
  cursor: pointer;
}

.cart .cart-count {
  position: absolute;
  top: 0;
  right: -20px;
  font-size: 1.2rem;
  text-align: center;
  pointer-events: none;
}

.cart-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: absolute;
  z-index: 999;
  top: 65px;
  left: 200px;
  height: calc(100vh - 65px);
  width: 350px;
  font-size: 1rem;
  background-color: rgb(184, 180, 180);
  color: black;
  border: 1px solid black;
  transition: left .5s ease;
}

.cart:hover > .cart-slider {
  left: -180px;

}